src/main/resources/schema/SendCourierCallback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://rosbank.ru/NFO/service/SendCourierCallback" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://rosbank.ru/NFO/service/SendCourierCallback">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tns="http://rosbank.ru/NFO/service/SendCourierCallback" targetNamespace="http://rosbank.ru/NFO/service/SendCourierCallback">
			<xs:element name="SendCourierCallbackRequest" type="tns:SendCourierCallbackRequestType">
				<xs:annotation>
					<xs:documentation>Передача Callback в НФО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SendCourierCallbackResponse" type="tns:SendCourierCallbackResponseType">
				<xs:annotation>
					<xs:documentation>Ответ НФО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType name="SendCourierCallbackRequestType">
				<xs:sequence>
					<xs:element name="eventName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Событие</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eventTime" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время события</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="id" type="xs:integer">
						<xs:annotation>
							<xs:documentation>Идентификатор заявки на доставку карты</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="courierName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ФИО курьера</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="meetingId" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор встречи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="newMeetingId" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор встречи после переноса</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="meetingPlace" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес встречи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="meetingTimeInterval" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Временной интервал встречи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scheduleDate" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Запланированная дата встречи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="startedAt" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время начала встречи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cancelKind" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип отмены</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cancelReason" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Причина отмены</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SendCourierCallbackResponseType">
				<xs:sequence>
					<xs:element name="success" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Результат операции</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SendCourierCallbackRequest">
		<wsdl:part name="SendCourierCallbackRequest" element="tns:SendCourierCallbackRequest"/>
	</wsdl:message>
	<wsdl:message name="SendCourierCallbackResponse">
		<wsdl:part name="SendCourierCallbackResponse" element="tns:SendCourierCallbackResponse"/>
	</wsdl:message>
	<wsdl:portType name="SendCourierCallbackPort">
		<wsdl:operation name="SendCourierCallback">
			<wsdl:input name="SendCourierCallbackRequest" message="tns:SendCourierCallbackRequest"/>
			<wsdl:output name="SendCourierCallbackResponse" message="tns:SendCourierCallbackResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SendCourierCallbackBinding" type="tns:SendCourierCallbackPort">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendCourierCallback">
			<soap12:operation soapAction="" soapActionRequired="false" style="document"/>
			<wsdl:input name="SendCourierCallbackRequest">
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="SendCourierCallbackResponse">
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SendCourierCallbackService">
		<wsdl:port name="SendCourierCallbackPort" binding="tns:SendCourierCallbackBinding">
			<soap12:address location="/SendCourierCallback"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
